<configuration scan="true">


	<property name="PATTERN"
		value="%d{HH:mm:ss.SSS} %-5level %logger{0} - %msg%n" />

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>


	<appender name="FLUENT"
		class="ch.qos.logback.more.appenders.DataFluentAppender">
		<tag>myrock</tag>
		<label>worker-01</label>
	<remoteHost>172.16.16.55</remoteHost>
		<port>32759</port>
		<additionalField>
			<key>node</key>
			<value>worker-01</value>
		</additionalField>
	</appender>

	<root level="INFO">

		<appender-ref ref="CONSOLE" additivity="false" />
	</root>



	<logger name="com.dunkware" level="DEBUG">
		<appender-ref ref="FLUENT" additivity="false" />

	</logger>

</configuration>
