<configuration scan="true">


	<property name="PATTERN"
		value="%d{HH:mm:ss.SSS} %-5level %logger{0} - %msg%n" />

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>


	
 	<appender name="FLUENT"
		class="ch.qos.logback.more.appenders.DataFluentAppender">
		<tag>myrock</tag>
		<label>cluster</label>
	<remoteHost>192.168.23.107</remoteHost>
		<port>32759</port>
		<additionalField>
			<key>node</key>
			<value>worker-1</value>
		</additionalField>
	</appender>

	<root level="INFO">
	<appender-ref ref="FLUENT" additivity="false"/>

	
	</root>


	<logger name="com.dunkware" level="DEBUG">
 <appender-ref ref="FLUENT" />
		<appender-ref ref="CONSOLE" additivity="false"/>
	</logger>
<logger name="com.dunkware.spring.cluster" level="DEBUG">
 
		<appender-ref ref="CONSOLE" additivity="false"/>
	</logger>

	<logger name="com.dunkware.trade.service.stream.worker.session.persist" level="TRACE">
 <appender-ref ref="FLUENT" additivity="false"/>
		<appender-ref ref="CONSOLE" additivity="false"/>
	</logger>
	<logger name="com.dunkware.xstream.core.XStreamClockImpl" level="TRACE">
 <appender-ref ref="FLUENT" additivity="false"/>

	</logger>	
	<logger name="com.dunkware.xstream.core.XStreamTickRouterImpl" level="TRACE">
 		<appender-ref ref="FLUENT" additivity="false"/>

	</logger>	
	
	<logger name="com.dunkware.xstream.core.XStreamRowImpl" level="TRACE">
 		<appender-ref ref="FLUENT" additivity="false"/>

	</logger>	
	
		
	
	<logger name="om.dunkware.trade.service.stream.worker.session.persist.StreamPersisterExt" level="TRACE">
 		<appender-ref ref="FLUENT" additivity="false"/>

	</logger>	
		
	
	 c
</configuration>
