<configuration scan="true">

	<property name="PATTERN"
		value="%d{HH:mm:ss.SSS} %-5level %logger{0} - %msg%n" />

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	
	
	<root level="INFO">
		<appender-ref ref="CONSOLE" additivity="false" />
	</root>


	<logger name="com.dunkware" level="DEBUG">
		<appender-ref ref="CONSOLE" additivity="false" />
	</logger>




</configuration>
