<configuration scan="true">


	<property name="PATTERN"
		value="%d{HH:mm:ss.SSS} %-5level %logger{0} - %msg%n" />

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>


	
	<appender name="FLUENT"
		class="ch.qos.logback.more.appenders.DataFluentAppender">
		<tag>devstreet</tag>
		<label>cluster</label>
		
		<remoteHost>testrock2.dunkware.net</remoteHost>
		<port>24224</port>

		<additionalField>
			<key>node</key>
			<value>cluster</value>
		</additionalField>
	</appender>

	<root level="INFO">

		<appender-ref ref="CONSOLE" additivity="false" />
	</root>

<logger name="com.dunkware.net.cluster.server.publishers.GrpcNodeUpdateStream" level="TRACE">
		<appender-ref ref="FLUENT" additivity="false" />
			<appender-ref ref="CONSOLE" additivity="false" />
</logger>

<logger name="com.dunkware.net.cluster.node.internal.ClusterNodeServiceImpl" level="TRACE">
		<appender-ref ref="FLUENT" additivity="false" />
			<appender-ref ref="CONSOLE" additivity="false" />
</logger>

<logger name="com.dunkware.net.cluster.server.core.ClusterNodeService" level="TRACE">
		<appender-ref ref="FLUENT" additivity="false" />
			<appender-ref ref="CONSOLE" additivity="false" />
		
</logger>


	<logger name="com.dunkware" level="DEBUG">
		<appender-ref ref="FLUENT" />

	</logger>

</configuration>
